---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="About Me">
	<div class="prose prose-lg mx-auto dark:prose-invert">
		<h1>About Me</h1>
		<p>
			Hello, I am <strong>zzado</strong>.
		</p>
		<p>
			This is a place where I organize what I study and my daily thoughts.
            I am mainly interested in web development technologies and enjoy learning and applying new things.
		</p>
        
        <h2>Contact</h2>
        <ul>
            <li>Email: zzado@example.com</li>
            <li>GitHub: <a href="https://github.com/zzado">https://github.com/zzado</a></li>
        </ul>
	</div>
</BaseLayout>
